
input {
    color: black;
    background-color: lightgray;
    font-style: italic;
    border: 1px solid gray;
}

p {
    color: blue;
    background-color: lightblue;
    font-style: normal;
    border: 1px solid blue;
}

select {
    color: white;
    background-color: darkgray;
    font-style: oblique;
    border: 1px solid black;
}

.moderate {
    color: darkgreen;
    background-color: lightgreen;
    font-style: normal;
    border: 1px dashed green;
}

.gaudy {
    color: red;
    background-color: yellow;
    font-style: italic;
    border: 2px solid red;
}


#id1 {
    color: white;
    background-color: green;
    font-style: normal;
    border: 2px solid darkgreen;
}
